@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Models = Videre.Core.Models;
@using System.Web.Mvc.Html;
@using Videre.Core.Services;
@using Bootstrap = Videre.Core.Extensions.Bootstrap;
@model Models.WidgetEditor

@{
    Html.RegisterControlPresenter(Model, "videre.widgets.editor.carousel");
}

<div id="@Model.GetId("Widget")">
    <div id="@Model.GetId("Dialog")" data-target="#@Model.GetId("Dialog")" class="modal fade">
        <div class="modal-dialog" style="width: 900px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    @Model.GetText("CarouselEditor.Text", "Carousel Editor")
                </div>
                <div class="modal-body">
                    @{Html.RenderPartial("WidgetHeader", Model);}

                    @(Html.Bootstrap().Tabs(new List<Bootstrap.Controls.BootstrapTab>() 
                    { 
                        new Bootstrap.Controls.BootstrapTab() { Id = @Model.GetId("WidgetTab"), Text = @Model.GetText("Widget.Text", "Widget"), Active = true},
                        new Bootstrap.Controls.BootstrapTab() { Id = @Model.GetId("GeneralTab"), Text = @Model.GetText("General.Text", "General")},
                        new Bootstrap.Controls.BootstrapTab() { Id = @Model.GetId("CarouselTab"), Text = @Model.GetText("Carousel.Text", "Carousel")}
                    }))
                    <div class="tab-content">
                        <div class="form-horizontal tab-pane active" id="@Model.GetId("WidgetTab")">
                            @{Html.RenderPartial("Widgets/Core/CommonEditorMarkup", Model);}
                        </div>
                        <div class="form-horizontal tab-pane" id="@Model.GetId("GeneralTab")">
                            @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Name.Text", "Name").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().TextBox().DataColumn("Name"), BootstrapUnits.GridSize.MediumDevice8)
                            @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Style.Text", "Style").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().TextBox().DataColumn("Style"), BootstrapUnits.GridSize.MediumDevice8)
                        </div>
                        <div class="tab-pane" id="@Model.GetId("CarouselTab")">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="btn-toolbar" id="@Model.GetId("ActionButtons")" style="margin-top:0; margin-bottom:0;">
                                        <div class="btn-group">
                                            @Html.Bootstrap().Button().DataAttribute("action", "add").Icon("glyphicon glyphicon-plus").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                                            @Html.Bootstrap().Button().DataAttribute("action", "remove").Icon("glyphicon glyphicon-trash").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                                            @Html.Bootstrap().Button().DataAttribute("action", "up").Icon("glyphicon glyphicon-arrow-up").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                                            @Html.Bootstrap().Button().DataAttribute("action", "down").Icon("glyphicon glyphicon-arrow-down").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                                        </div>
                                    </div>
                                    <div style="height: auto; max-height: 485px; overflow: auto; padding: 2px; margin-top: 0; margin-bottom: 0;" class="well">
                                        <ul id="@Model.GetId("CarouselList")" class="videre-nav-condensed nav nav-pills nav-stacked"></ul>
                                    </div>
                                </div>
                                <div class="col-md-8" id="@Model.GetId("EditCtr")" style="display: none;">
                                    @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("ImageUrl.Text", "Image Url"), Html.Bootstrap().FileBrowser().DataColumn("ImageUrl"))
                                    @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("SlideText.Text", "Slide Text"), Html.Bootstrap().TextEditor().DataColumn("Text"))
                                    <div class="videre-form-actions">
                                        @Html.Bootstrap().Button("btnApply").Text("Apply.Text", "Apply")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.Bootstrap().Button("btnOk").ButtonStyle(BootstrapUnits.ButtonStyle.Primary).Text("Ok.Text", "Ok", true)
                    @Html.Bootstrap().Button().Text("Cancel.Text", "Cancel", true).DataAttribute("dismiss", "modal")
                </div>
            </div>
        </div>
    </div>

</div>

