@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Videre.Core.Models;
@using System.Web.Mvc.Html;
@using Videre.Core.Services;
@model WidgetEditor

@{   
    Html.RegisterControlPresenter(Model, "videre.widgets.editor.common");
}

<div id="@Model.GetId("Widget")">
    <div id="@Model.GetId("Dialog")" data-target="#@Model.GetId("Dialog")" class="modal fade">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            @Model.GetText("CommonEditor.Text", "Common Editor")
        </div>
        <div class="modal-body">
            @{Html.RenderPartial("WidgetHeader", Model);}
            @{Html.RenderPartial("Widgets/Core/CommonEditorMarkup", Model);}
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary" id="@Model.GetId("btnOk")">@Model.GetPortalText("Ok.Text", "Ok")</a>
            <a class="btn" data-dismiss="modal">@Model.GetPortalText("Cancel.Text", "Cancel")</a>
        </div>
    </div>
</div>

