@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Models = Videre.Core.Models;
@using System.Web.Mvc.Html;
@using Videre.Core.Services;
@model Models.Widget

@{
    Html.RegisterWebReferenceGroup("datatables");
    Html.RegisterWebReferenceGroup("dropzonejs");
    Html.RegisterWebReferenceGroup("dynatree");
    Html.RegisterControlPresenter("videre.widgets.admin.file", Model);
}

<div id="@Model.GetId("Widget")">
    @{Html.RenderPartial("WidgetHeader", Model);}

    @{Html.RenderPartial("WidgetSectionHeader", Model, new ViewDataDictionary(new { SectionHeader = Model.GetText("WidgetTitle.Text", "File Administration") }));}

    <p>@Html.Raw(Model.GetText("Instructions.Text", "File administration is where you can manage files. "))</p>

    <div class="row">
        <div class="col-md-3">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group">
                    @Html.Bootstrap().Button("btnNew").ButtonSize(BootstrapUnits.ButtonSize.Small).Text("NewEntry.Text", "New Entry", true).Icon("glyphicon glyphicon-plus")
                </div>
            </div>
            <div id="@Model.GetId("Tree")" style="overflow: auto; height: 500px; padding:0; margin:0;" class="col-md-12"></div>
        </div>

        <div id="@Model.GetId("DropZoneContainer")" style="display: none;"></div>
        <div id="@Model.GetId("ItemListCtr")" class="col-md-9">
            <table class="table table-striped table-bordered table-condensed" id="@Model.GetId("ItemTable")">
                <thead>
                    <tr>
                        <th style="width: 62px"></th>
                        <th></th>
                        <th>@Model.GetText("Url.Text", "Url")</th>
                        <th>@Model.GetText("MimeType.Text", "Mime Type")</th>
                        <th>@Model.GetText("Size.Text", "Size")</th>
                    </tr>
                </thead>
                <tbody id="@Model.GetId("ItemList")"></tbody>
            </table>
            <script id="@Model.GetId("ItemListTemplate")" type="text/html">
                <tr>
                    <td style="white-space: nowrap">
                        <div class="btn-group">
                        @Html.Bootstrap().Button().DataAttribute("id", "{{:Id}}").DataAttribute("action", "edit").Icon("glyphicon glyphicon-pencil").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                        @Html.Bootstrap().Button().DataAttribute("id", "{{:Id}}").DataAttribute("action", "delete").Icon("glyphicon glyphicon-trash").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                        </div>
                    </td>
                    <td>
                        <img src="{{:imageUrl}}" style="height: 30px;" /></td>
                    <td>{{:Url}}</td>
                    <td>{{:MimeType}}</td>
                    <td>{{:Size}}</td>
                </tr>
            </script>
        </div>

        <div id="@Model.GetId("Dialog")" data-target="#@Model.GetId("Dialog")" class="modal fade">
            <div class="modal-dialog" style="width: 700px; ">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        @Model.GetText("EditDialogText.Text", "File Edit")
                    </div>
                    <div class="modal-body">
                        @{Html.RenderPartial("WidgetHeader", Model);}
                        <div class="form-horizontal">
                            @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Url.Text", "Url").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().TextBox().DataColumn("Url").Required(), BootstrapUnits.GridSize.MediumDevice4)
                            <div class="file-upload-detail">
                                @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("File.Text", "File").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().Upload("btnUpload").Text("Upload.Text", "Upload").Icon("glyphicon glyphicon-upload"), BootstrapUnits.GridSize.MediumDevice2)
                                @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("FileSize.Text", "File Size").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().TextBox().DataColumn("Size").ReadOnly(), BootstrapUnits.GridSize.MediumDevice3)
                                @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("MimeType.Text", "Mime Type").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().TextBox().DataColumn("MimeType").ReadOnly(), BootstrapUnits.GridSize.MediumDevice3)
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @Html.Bootstrap().Button("btnSave").ButtonStyle(BootstrapUnits.ButtonStyle.Primary).Text("Save.Text", "Save", true)
                        @Html.Bootstrap().Button().Text("Cancel.Text", "Cancel", true).DataAttribute("dismiss", "modal")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

