@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Models = Videre.Core.Models;
@using System.Web.Mvc.Html;
@using Videre.Core.Services;
@using Bootstrap = Videre.Core.Extensions.Bootstrap;
@model Models.Widget

@{
}

<div id="@Model.GetId("Widget")" class="@Model.Css" style="@Model.Style">
    @{ Html.RenderPartial("WidgetHeader", Model); }

    @(Html.Bootstrap().Tabs(new List<Bootstrap.Controls.BootstrapTab>() 
    { 
        new Bootstrap.Controls.BootstrapTab() { Id = @Model.GetId("AdminTab"), Text = @Model.GetText("Administration.Text", "Administration"), Active = true, Icon = "glyphicon glyphicon-gift" },
        new Bootstrap.Controls.BootstrapTab() { Id = @Model.GetId("ExportTab"), Text = @Model.GetText("Export.Text", "Export"), Icon = "glyphicon glyphicon-export" }
    }))

    <div class="tab-content">
        <div class="tab-pane active" id="@Model.GetId("AdminTab")">
            @{ Html.RenderWidget("Core/Admin/PackageAdmin"); }
        </div>
        <div class="tab-pane" id="@Model.GetId("ExportTab")" style="min-height: 900px;">
            @{ Html.RenderWidget("Core/Admin/PackageExport"); }
        </div>
    </div>
</div>
