@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Models = Videre.Core.Models;
@using System.Web.Mvc.Html;
@using Videre.Core.Services;
@model Models.Widget

@{
}

<div id="@Model.GetId("Widget")" class="@Model.Css" style="@Model.Style">
    <div class="container">
        <div class="row">
            <div class="span12">
                @{ Html.RenderPartial("WidgetHeader", Model); }
    
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#@Model.GetId("AdminTab")" data-toggle="tab"><i class="icon-list-alt"></i> @Model.GetText("Administration.Text", "Administration")</a></li>
                    <li class=""><a href="#@Model.GetId("ExportTab")" data-toggle="tab"><i class="icon-upload"></i> @Model.GetText("Export.Text", "Export")</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="@Model.GetId("AdminTab")">
                        @{ Html.RenderWidget("Core/Admin/PackageAdmin"); }
                    </div>
                    <div class="tab-pane" id="@Model.GetId("ExportTab")" style="min-height: 900px;">
                        @{ Html.RenderWidget("Core/Admin/PackageExport"); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
