@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Models = Videre.Core.Models;
@using System.Web.Mvc.Html;
@using Videre.Core.Services;
@using Bootstrap = Videre.Core.Extensions.Bootstrap;
@model Models.Widget

@{
    Html.RegisterWebReferenceGroup("datatables");
    Html.RegisterWebReferenceGroup("fileuploader");
    //Html.RegisterScript("~/scripts/fileuploader.js", true);
    //var portal = Videre.Core.Services.Portal.CurrentPortal;
    var currentPortalId = Portal.CurrentPortalId;
    var portals = Portal.GetPortals();
    Html.RegisterControlPresenter(Model, "videre.widgets.admin.portal", new Dictionary<string, object>() {
        { "portals", portals }, 
        { "selectedPortalId", currentPortalId }, 
        { "installedThemes", UI.GetThemes() }, 
        { "themeAPIUrl", UI.ThemeAPIUrl},
        { "attributeDefs", Portal.AttributeDefinitions }}
        );
}

<div id="@Model.GetId("Widget")">
    @{Html.RenderPartial("WidgetHeader", Model);}
    @{Html.RenderPartial("WidgetSectionHeader", Model, new ViewDataDictionary(new { SectionHeader = Model.GetText("WidgetTitle.Text", "Portal Administration") }));}


    <p>@Html.Raw(Model.GetText("Instructions.Text", "Settings specific to the current portal can be configured here."))</p>

    <div class="container">
        <div class="row">
            <div class="btn-toolbar col-md-4">
                <div class="btn-group">
                    @Html.Bootstrap().DropDownList("ddlPortals").InputSize(BootstrapUnits.InputSize.Small).Css("form-control").Append(Html.Bootstrap().Button("btnNew").ButtonSize(BootstrapUnits.ButtonSize.Small).Text("NewPortal.Text", "New Portal", true).Icon("glyphicon glyphicon-plus"))
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-12">
                @{
                    var tabs = new List<Bootstrap.Controls.BootstrapTab>() 
                { 
                    new Bootstrap.Controls.BootstrapTab() { Id = @Model.GetId("GeneralTab"), Text = @Model.GetText("General.Text", "General"), Active = true, Icon = "glyphicon glyphicon-list-alt" },
                    new Bootstrap.Controls.BootstrapTab() { Id = @Model.GetId("ServerEnvironmentTab"), Text = @Model.GetText("ServerEnvironment.Text", "Server Environment"), Icon = "glyphicon glyphicon-hdd" },
                    new Bootstrap.Controls.BootstrapTab() { Id = @Model.GetId("ThemeTab"), Text = @Model.GetText("Themes.Text", "Themes"), Icon = "glyphicon glyphicon-picture" }
                };
                    foreach (var groupName in Portal.AttributeDefinitions.Keys.OrderBy(s => s))
                    {
                        var safeGroupName = groupName.Replace(" ", "-").Replace(".", "-");
                        tabs.Add(new Bootstrap.Controls.BootstrapTab() { Id = Model.GetId("tab" + safeGroupName), Text = groupName, Icon = "glyphicon glyphicon-list-alt" });
                    }
                }
                @Html.Bootstrap().Tabs(tabs)

                <div class="tab-content" style="min-height: 400px;">
                    <div class="tab-pane active" id="@Model.GetId("GeneralTab")">
                        <div class="form-horizontal col-md-6">
                            @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Name.Text", "Name").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().TextBox().DataColumn("Name").Required(), BootstrapUnits.GridSize.MediumDevice8)
                            @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Title.Text", "Title").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().TextBox().DataColumn("Title"), BootstrapUnits.GridSize.MediumDevice8)
                            @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("LogoUrl.Text", "Logo Url").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().FileBrowser().DataColumn("LogoUrl"), BootstrapUnits.GridSize.MediumDevice8)
                            @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Aliases.Text", "Aliases").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().TagsInput().DataColumn("Aliases"), BootstrapUnits.GridSize.MediumDevice8)
                            @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Default.Text", "Default").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().CheckBox().DataColumn("Default"), BootstrapUnits.GridSize.MediumDevice2)
                        </div>
                    </div>
                    <div class="tab-pane" id="@Model.GetId("ServerEnvironmentTab")">
                        @{ Html.RenderPartial("Widgets/Core/Admin/ServerEnvironment"); }
                    </div>

                    <div class="tab-pane" id="@Model.GetId("ThemeTab")">
                        @{Html.RenderPartial("Widgets/Core/Admin/Theme", Model);}
                    </div>
                    @{
                        foreach (var groupName in Portal.AttributeDefinitions.Keys)
                        {
                            var safeGroupName = groupName.Replace(" ", "-").Replace(".", "-");
                        <div class="tab-pane" id="@Model.GetId("tab" + safeGroupName)">
                            <div class="form-horizontal col-md-9" id="@Model.GetId("AttributeList-" + safeGroupName)" data-group="@groupName"></div>
                            <div class="clearfix"></div>
                        </div>
                        }
                    }
                    <script id="@Model.GetId("AttributeListTemplate")" type="text/html">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{:Label}}</label>
                            <div class="col-md-6 {{:#data.InputType == 'checkbox' ? 'checkbox' : ''}}" data-type="input">
                                {{:~bindInputs(#data, ~attributes, '$' + ~groupName + '.' + #data.Name)}}
                            </div>
                        </div>
                    </script>

                </div>
                <div class="videre-form-actions">
                    @Html.Bootstrap().Button("btnSave").ButtonStyle(BootstrapUnits.ButtonStyle.Primary).Text("Save.Text", "Save", true)
                </div>
            </div>
        </div>
    </div>

    <div id="@Model.GetId("CreatePortalDialog")" data-target="#@Model.GetId("CreatePortalDialog")" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    @Model.GetText("NewPortal.Text", "New Portal")
                </div>
                <div class="modal-body">
                    @{Html.RenderPartial("WidgetHeader", Model);}
                    <div class="form-horizontal">
                        <div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5>@Model.GetText("Portal.Text", "Portal")</h5>
                                </div>
                                <div class="panel-body">
                                    <div class="form-horizontal videre-form">
                                        <div class="form-group">
                                            <label class="control-label col-md-4" for="optionsCheckboxList">Packages</label>
                                            <div class="controls col-md-8" id="@Model.GetId("Packages")">
                                                @foreach (var package in Videre.Core.Services.Package.GetAvailablePackages().Where(p => p.Type == "Data"))
                                                {
                                                    <label class="checkbox" title="@package.Description - @package.Source">
                                                        <input type="checkbox" value="@package.Name" checked="checked" />
                                                        @package.Name (v @package.Version)
                                                    </label>
                                                }
                                            </div>
                                        </div>
                                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Name.Text", "Name").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().TextBox("txtUserName").DataColumn("PortalName").Required().DisableAutoComplete(), BootstrapUnits.GridSize.MediumDevice6)
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" id="@Model.GetId("AdminUser")">
                                <div class="panel-heading">
                                    <h5>@Model.GetText("AdminUser.Text", "Admin User")</h5>
                                </div>
                                <div class="panel-body">
                                    <div class="form-horizontal videre-form">                              
                                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("UserName.Text", "User Name").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().TextBox("txtUserName").DataColumn("Name").Required().DisableAutoComplete(), BootstrapUnits.GridSize.MediumDevice6)
                                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Email.Text", "Email").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().Email("txtEmail").DataColumn("Email").Required().DisableAutoComplete(), BootstrapUnits.GridSize.MediumDevice6)

                                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Password.Text", "Password").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().Password("txtPassword").DataColumn("Password").Required().DisableAutoComplete(), BootstrapUnits.GridSize.MediumDevice6)

                                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("ConfirmPassword.Text", "Confirm Password").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().Password("txtPassword2").MustMatch("txtPassword").Required().DisableAutoComplete(), BootstrapUnits.GridSize.MediumDevice6)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @Html.Bootstrap().Button("btnCreate").ButtonStyle(BootstrapUnits.ButtonStyle.Primary).Text("Create.Text", "Create")
                        @Html.Bootstrap().Button().Text("Cancel.Text", "Cancel", true).DataAttribute("dismiss", "modal")
                    </div>
                </div>
            </div>
        </div>

    </div>
