@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Videre.Core.Models;
@using System.Web.Mvc.Html;
@using Videre.Core.Services;
@model Widget

@{
}

<div id="@Model.GetId("Widget")" class="ui-widget @Model.Css" style="@Model.Style">
    <div class="container">
        <div class="row">
            <div class="span12">
                @{Html.RenderPartial("WidgetHeader", Model);}
    
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#@Model.GetId("RoleTab")" data-toggle="tab"><i class="icon-list-alt"></i> @Model.GetText("Roles.Text", "Roles")</a></li>
                    <li class=""><a href="#@Model.GetId("SecureActivityTab")" data-toggle="tab"><i class="icon-upload"></i> @Model.GetText("SecureActivity.Text", "Secure Activity")</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="@Model.GetId("RoleTab")">
                        @{Html.RenderWidget("Core/Admin/Role");}
                    </div>
                    <div class="tab-pane" id="@Model.GetId("SecureActivityTab")">
                        @{Html.RenderWidget("Core/Admin/SecureActivity");}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

