@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Models = Videre.Core.Models;
@using System.Web.Mvc.Html;
@using Videre.Core.Services;
@model Models.Widget

@{
    Html.RegisterWebReferenceGroup("datatables");
    
}
<div class="panel-group" id="@Model.GetId("Accordian")">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="glyphicon glyphicon-hdd"></span>&nbsp;<a data-toggle="collapse" data-parent="#@Model.GetId("Accordian")" href="#@Model.GetId("ServerPanel")">@Model.GetText("Server.Text", "Server")</a></h4>
        </div>
        <div id="@Model.GetId("ServerPanel")" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-striped table-bordered table-condensed" style="font-size: small">
                    <tbody>
                        <tr>
                            <td>@Model.GetText("ServerOS.Text", "Server OS")</td>
                            <td>@System.Environment.OSVersion</td>
                        </tr>
                        <tr>
                            <td>@Model.GetText("IISVersion.Text", "IIS Version")</td>
                            <td>@Request.ServerVariables["SERVER_SOFTWARE"]</td>
                        </tr>
                        <tr>
                            <td>@Model.GetText("InstallLocation.Text", "Install Location")</td>
                            <td>@Request.MapPath("~/")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="glyphicon glyphicon-list"></span>&nbsp;<a data-toggle="collapse" data-parent="#@Model.GetId("Accordian")" href="#@Model.GetId("AssembliesPanel")">@Model.GetText("AssemblyVersions.Text", "Assembly Versions")</a></h4>
        </div>
        <div id="@Model.GetId("AssembliesPanel")" class="panel-collapse collapse">
            <div class="panel-body">
                <table class="table table-striped table-bordered table-condensed" style="font-size: small">
                    <thead>
                        <tr>
                            <th>@Model.GetText("AssemblyName.Text", "Assembly Name")</th>
                            <th>@Model.GetText("Version.Text", "Version")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var a in AppDomain.CurrentDomain.GetAssemblies().Select(a2 => new { name = a2.GetName().Name, version = a2.GetName().Version }).OrderBy(a2 => a2.name))
                            {
                            <tr>
                                <td>@a.name</td>
                                <td>@a.version</td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
