@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Models = Videre.Core.Models;
@using System.Web.Mvc.Html;
@using Videre.Core.Services;
@model Models.Widget

@{
    Html.RegisterScript(Model.ScriptPath + "videre.widgets.admin.theme.js", true);
}

<div class="form well">
    <div class="form-group">
        <label class="control-label">@Model.GetText("CurrentTheme.Text", "Current Theme")</label>
        <div class="btn-group" id="@Model.GetId("ThemeDropdown")">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="text"></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
            </ul>
            @Html.Bootstrap().Button("btnDownloadTheme").Text("Download.Text", "Download")
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><h4>@Model.GetText("InstalledThemes.Text", "Installed Themes")</h4></div>
    <div class="panel-body">
        <div id="@Model.GetId("ThemeList")">
        </div>
    </div>
</div>

<script id="@Model.GetId("ThemeListTemplate")" type="text/html">
    <div data-theme="{{:Name}}" class="row {{if #index % 2 == 0}} alt {{/if}}" style="padding: 5px;">
        <div class="col-md-2">
            <a class="thumbnail" data-action="apply">
                <img src="{{:~resolveUrl(Thumbnail)}}" />
            </a>
        </div>
        <div class="caption col-md-7">
            <h5>{{:Name}}</h5>
            <p>{{:Description}}</p>
            <p><b>@Model.GetText("Source.Text", "Source"): </b>{{:Source}}</p>
        </div>
        <div class="col-md-2">
            {{if #ctx.currentTheme == null || #ctx.currentTheme.Name != Name}}
                @Html.Bootstrap().Button().DataAttribute("action", "apply").Text("Apply.Text", "Apply").Icon("glyphicon glyphicon-ok").StyleAttribute("width", "100px")
                @Html.Bootstrap().Button().DataAttribute("action", "uninstall").Text("Uninstall.Text", "Uninstall").Icon("glyphicon glyphicon-trash").StyleAttribute("width", "100px")
            {{/if}}
        </div>
    </div>
</script>

<div id="@Model.GetId("ThemeDialog")" data-target="#@Model.GetId("ThemeDialog")" class="modal fade">
    <div class="modal-dialog" style="width: 900px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                @Model.GetText("DownloadTheme.Text", "Download Theme")
            </div>
            <div class="modal-body" style="padding: 5px; max-height: 500px; overflow: auto;">
                @{Html.RenderPartial("WidgetHeader", Model);}
                <div id="@Model.GetId("DownloadThemeList")" class="col-md-12">
                </div>
                <script id="@Model.GetId("DownloadThemeListTemplate")" type="text/html">
                    <div data-theme="{{:Name}}">
                        <div class="row {{if #index % 2 == 0}} alt {{/if}}" style="padding: 5px;">
                            <div class="col-md-2">
                                <a class="thumbnail" data-action="apply">
                                    <img src="{{:~resolveUrl(Thumbnail)}}" class="img-responsive" />
                                </a>
                            </div>
                            <div class="caption col-md-5">
                                <h5>{{:Name}}</h5>
                                <p>{{:Description}}</p>
                                <p><b>@Model.GetText("Source.Text", "Source"): </b>{{:Source}}</p>
                            </div>
                            <div class="col-md-2">
                                {{if #ctx.installedThemes[Name] == null}}
                                @Html.Bootstrap().Button().DataAttribute("action", "install").Text("Install.Text", "Install").Icon("glyphicon glyphicon-download-alt")
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </script>
            </div>
            <div class="modal-footer">
                @Html.Bootstrap().Button().Text("Ok.Text", "Ok", true).DataAttribute("dismiss", "modal")
            </div>
        </div>
    </div>
</div>

