@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Models = Videre.Core.Models;
@using System.Web.Mvc.Html;
@using Videre.Core.Services;
@model Models.Widget

@{
    Html.RegisterWebReferenceGroup("datatables");
    
    Html.RegisterControlPresenter(Model, "videre.widgets.admin.user", new Dictionary<string, object>() {{ "data", Videre.Core.Services.Account.GetUsers() }});
}

<div id="@Model.GetId("Widget")">
    @{Html.RenderPartial("WidgetHeader", Model);}
    
    <fieldset>
        @if (Model.ShowHeader) {<legend class="videre section-header">@Model.GetText("WidgetTitle.Text", "User Administration")</legend>}

        <p>@Html.Raw(Model.GetText("Instructions.Text", "User administration can be performed here.  This widget is intended for use by admins only."))</p>

        <div class="container">
            <div class="row">
                <div class="btn-toolbar span12">
                    <div class="btn-group">
                        <a class="btn btn-small" id="@Model.GetId("btnNew")"><i class="icon-plus"></i> @Model.GetPortalText("NewEntry.Text", "New Entry")</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    <table class="table table-striped table-bordered table-condensed" id="@Model.GetId("ItemTable")">
                        <thead>
                            <tr>
                                <th style="width: 62px"></th>
                                <th>@Model.GetText("Name.Text", "Name")</th>
                                <th>@Model.GetText("Email.Text", "Email")</th>
                                <th>@Model.GetText("Locale.Text", "Locale")</th>
                            </tr>
                        </thead>
                        <tbody id="@Model.GetId("ItemList")"></tbody>
                    </table>
                    <script id="@Model.GetId("ItemListTemplate")" type="text/html">
                        <tr>
                            <td>
                                <a class="btn btn-mini" data-id="{{:Id}}" data-action="edit"><i class="icon-pencil"></i></a>
                                <a class="btn btn-mini" data-id="{{:Id}}" data-action="delete"><i class="icon-trash"></i></a>
                            </td>
                            <td>{{:Name}}</td>
                            <td>{{:Email}}</td>
                            <td>{{:Locale}}</td>
                        </tr>
                    </script>
                </div>
            </div>
        </div>
    </fieldset>

    <div id="@Model.GetId("Dialog")" data-target="#@Model.GetId("Dialog")" class="modal fade" style="display: none;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            @Model.GetText("EditDialogText.Text", "Edit User")
        </div>
        <div class="modal-body">
            @{Html.RenderPartial("WidgetHeader", Model);}

            <ul class="nav nav-tabs">
                <li class="active"><a href="#@Model.GetId("GeneralTab")" data-toggle="tab"><i class="icon-list-alt"></i> @Model.GetText("General.Text", "General")</a></li>
                @if (Account.CustomUserElements.Count > 0)
                {
                <li class=""><a href="#@Model.GetId("CustomTab")" data-toggle="tab"><i class="icon-upload"></i> @Model.GetText("Custom.Text", "Custom")</a></li>
                }
            </ul>
            <div class="tab-content">
                <div class="tab-pane active form-horizontal" id="@Model.GetId("GeneralTab")">
                    @Html.InputControlGroup(Model, "txtName", "Name.Text", "Name", dataColumn: "Name", required: true)
                    @Html.InputControlGroup(Model, "txtEmail", "Email.Text", "Email", dataColumn: "Email", required: true, dataType: "email")
                    @Html.InputControlGroup(Model, "txtLocale", "Locale.Text", "Locale", dataColumn: "Locale")
                    @Html.InputControlGroup(Model, "txtPassword", "NewPassword.Text", "New Password", dataColumn: "Password", inputType: "password")
                    @Html.InputControlGroup(Model, "txtConfirmPassword", "ConfirmPassword.Text", "Confirm Password", dataColumn: "Password", inputType: "password", valueMatchControl: "txtPassword")
                    @Html.RoleControlGroup(Model, "ddlRoles", "Roles.Text", "Roles", "Roles")
                </div>
                @{
                if (Account.CustomUserElements.Count > 0)
                {
                <div class="tab-pane form-horizontal" id="@Model.GetId("CustomTab")">
                    @foreach (var element in Account.CustomUserElements)
                    {
                        if (element.Values != null)
                        {
                            @Html.DropDownControlGroup(Model, "ddlCustom" + element.SafeName, element.SafeName + ".Text", element.Name, element.Name, element.Values)
                        }
                        else
                        {
                            @Html.InputControlGroup(Model, "txtCustom" + element.SafeName, element.SafeName + ".Text", element.Name, element.Name, required: element.Required)
                        }
                    }
                </div>
                }
                }
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary" id="@Model.GetId("btnSave")">@Model.GetPortalText("Save.Text", "Save")</a>
            <a class="btn" data-dismiss="modal">@Model.GetPortalText("Cancel.Text", "Cancel")</a>
        </div>
    </div>


</div>

