@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Models = Videre.Core.Models;
@using System.Web.Mvc.Html;
@using Videre.Core.Services;
@using Plugin = Videre.Core.Extensions.Bootstrap.Controls.BootstrapDropDownListModel.Plugin;
@model Models.Widget

@{
    Html.RegisterWebReferenceGroup("datatables");
    var webReferences = Videre.Core.Services.Web.GetWebReferences();
    Html.RegisterControlPresenter(Model, "videre.widgets.admin.webreference", new Dictionary<string, object>() {{"data", webReferences }});
}

<div id="@Model.GetId("Widget")">
    @{Html.RenderPartial("WidgetHeader", Model);}

    @{Html.RenderPartial("WidgetSectionHeader", Model, new ViewDataDictionary(new { SectionHeader = Model.GetText("WidgetTitle.Text", "Web Reference Administration") }));}

    <p>@Html.Raw(Model.GetText("Instructions.Text", "Web references allow you to administer the scripts and stylesheets loaded on your site."))</p>

    <div class="row">
        <div class="btn-toolbar col-md-12">
            <div class="btn-group">
                @Html.Bootstrap().Button("btnNew").ButtonSize(BootstrapUnits.ButtonSize.Small).Text("NewEntry.Text", "New Entry", true).Icon("glyphicon glyphicon-plus")
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered table-condensed" id="@Model.GetId("ItemTable")">
                <thead>
                    <tr>
                        <th style="width: 62px"></th>
                        <th>@Model.GetText("Name.Text", "Name")</th>
                        <th>@Model.GetText("Group.Text", "Group")</th>
                        <th>@Model.GetText("DependencyGroups.Text", "Dependency Groups")</th>
                    </tr>
                </thead>
                <tbody id="@Model.GetId("ItemList")"></tbody>
            </table>
            <script id="@Model.GetId("ItemListTemplate")" type="text/html">
                <tr>
                    <td>
                        <div class="btn-group">
                        @Html.Bootstrap().Button().DataAttribute("id", "{{:Id}}").DataAttribute("action", "edit").Icon("glyphicon glyphicon-pencil").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                        @Html.Bootstrap().Button().DataAttribute("id", "{{:Id}}").DataAttribute("action", "delete").Icon("glyphicon glyphicon-trash").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                        </div>
                    </td>
                    <td>{{:Name}}</td>
                    <td>{{:Group}}</td>
                    <td>{{:DependencyGroups.join(', ')}}</td>
                </tr>
            </script>
        </div>
    </div>

    <div id="@Model.GetId("Dialog")" data-target="#@Model.GetId("Dialog")" class="modal fade">
        <div class="modal-dialog" style="width: 700px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    @Model.GetText("EditDialogText.Text", "Edit Web Reference")
                </div>
                <div class="modal-body">
                    @{Html.RenderPartial("WidgetHeader", Model);}

                    <div class="form-horizontal">
                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Name.Text", "Name").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().TextBox().DataColumn("Name"), BootstrapUnits.GridSize.MediumDevice9)
                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Group.Text", "Group").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().TextBox().DataColumn("Group"), BootstrapUnits.GridSize.MediumDevice9)
                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("DependencyGroups.Text", "Dependency Groups").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().DropDownList().Options(webReferences.Select(r => r.Group).Distinct().Select(r => new SelectListItem() { Text = r, Value = r }).ToList()).Multiple().Plugin(Plugin.BootstrapSelect).DataColumn("DependencyGroups"), BootstrapUnits.GridSize.MediumDevice9)
                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Url.Text", "Url").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().TextBox().DataColumn("Url"), BootstrapUnits.GridSize.MediumDevice9)
                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Type.Text", "Type").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().DropDownList().Options(default(Models.WebReferenceType).ToListItemList()).DataColumn("Type"), BootstrapUnits.GridSize.MediumDevice9)
                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("LoadType.Text", "Load Type").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().DropDownList().Options(default(Models.WebReferenceLoadType).ToListItemList()).DataColumn("LoadType"), BootstrapUnits.GridSize.MediumDevice9)
                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Text.Text", "Text").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().TextArea().Rows(5).DataColumn("Text"), BootstrapUnits.GridSize.MediumDevice9)
                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Sequence.Text", "Sequence").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().DropDownList().Options(default(Models.WebReferenceLoadType).ToListItemList()).DataColumn("Sequence"), BootstrapUnits.GridSize.MediumDevice2)
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.Bootstrap().Button("btnSave").ButtonStyle(BootstrapUnits.ButtonStyle.Primary).Text("Save.Text", "Save", true)
                    @Html.Bootstrap().Button().Text("Cancel.Text", "Cancel", true).DataAttribute("dismiss", "modal")
                </div>
            </div>
        </div>
    </div>
</div>


