@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Videre.Core.Models;
@using System.Web.Mvc.Html;
@using Videre.Core.Services;
@using Videre.Core.Extensions
@using Bootstrap = Videre.Core.Extensions.Bootstrap;
@model Videre.Core.Models.Widget

@{
}

<div id="@Model.GetId("Widget")">
    @{Html.RenderPartial("WidgetHeader", Model);}
    
    @(Html.Bootstrap().Tabs(new List<Bootstrap.Controls.BootstrapTab>() 
    { 
        new Bootstrap.Controls.BootstrapTab() { Id = @Model.GetId("WidgetManifestTab"), Text = @Model.GetText("Manifests.Text", "Manifests"), Active = true, Icon = "glyphicon glyphicon-list-alt" }
    }))

    <div class="tab-content">
        <div class="tab-pane active" id="@Model.GetId("WidgetManifestTab")">
            <div class="container">
            @{Html.RenderWidget("Core/Admin/WidgetManifest");}
            </div>
        </div>
    </div>
</div>

