@using Videre.Core.Extensions;
@using CoreServices = Videre.Core.Services;
@using CoreModels = Videre.Core.Models;
@model CoreModels.View
@{
    //Html.RegisterStylesheet(string.Format("~/Content/Layouts/General.css"), true);

    Html.RegisterControlPresenter(Model, "videre.widgets.installer");
    var hasPersistenceProvider = CoreServices.Authentication.PersistenceProvider != null;
    
    var standardProviders = CoreServices.Authentication.GetStandardAuthenticationProviders();//.Where(p => p.AllowLogin).ToList();

}

@functions
{
    bool IsRequiredPackage(CoreModels.Package package)
    {
        return package.Name.Contains("Videre Core");
    }

}

<!DOCTYPE HTML>
<html>
<head>
    <title>@(!string.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title : "Videre")</title>

    <script src="@CoreServices.Portal.ResolveUrl("~/scripts/jquery-1.10.2/jquery-1.10.2.min.js")" type="text/javascript"></script>
    <script src="@CoreServices.Portal.ResolveUrl("~/scripts/bootstrap-3.2.0/js/bootstrap.js")" type="text/javascript"></script>

    <script src="@CoreServices.Portal.ResolveUrl("~/scripts/videre.extensions.js")" type="text/javascript"></script>
    <script src="@CoreServices.Portal.ResolveUrl("~/scripts/videre.js")" type="text/javascript"></script>

    <link href="@CoreServices.Portal.ResolveUrl("~/Content/videre.css")" type="text/css" rel="stylesheet"  />
    <link href="@CoreServices.Portal.ResolveUrl("~/scripts/bootstrap-3.2.0/css/bootstrap.min.css")" type="text/css" rel="stylesheet"  />

    @{Html.RenderLayoutHeader();}
</head>
<body style="padding-top: 40px;">
    <div class="container">
        <h1 class="videre-font">Videre</h1>
        <div class="content" style="min-height: 500px;" id="@Model.GetId("Widget")">
            @{Html.RenderPartial("WidgetHeader", Model);}

            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Admin User - Enter the user information for the portal administrator
                        </div>
                        <div class="panel-body">
                            <div id="@Model.GetId("AdminUser")" class="form-horizontal">
                                @if (!hasPersistenceProvider && standardProviders.Count > 1)
                                {
                                    @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("AuthenticateAgainst.Text", "Authenticate Against").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().DropDownList("ddlAuthenticationAgainst").Required()
                                        .Options(standardProviders.Select(p => new SelectListItem() { Text = p.Name, Value = p.Name })), BootstrapUnits.GridSize.MediumDevice6)
                                }

                                @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("UserName.Text", "User Name").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().TextBox("txtUserName").DataColumn("Name").Required().DisableAutoComplete(), BootstrapUnits.GridSize.MediumDevice6)
                                @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Email.Text", "Email").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().Email("txtEmail").DataColumn("Email").Required().DisableAutoComplete(), BootstrapUnits.GridSize.MediumDevice6)
                                @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Password.Text", "Password").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().Password("txtPassword").DataColumn("Password").Required().DisableAutoComplete(), BootstrapUnits.GridSize.MediumDevice6)
                                @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("ConfirmPassword.Text", "Confirm Password").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().Password("txtPassword2").MustMatch("txtPassword").Required().DisableAutoComplete(), BootstrapUnits.GridSize.MediumDevice6)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Portal - Choose the packages you wish to install
                        </div>
                        <div class="panel-body">
                            <div class="panel-group" id="@Model.GetId("Accordian")">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><span class="glyphicon glyphicon-gift"></span> <a data-toggle="collapse" data-parent="#@Model.GetId("Accordian")" href="#@Model.GetId("PackagesPanel")">Packages</a></h4>
                                    </div>
                                    <div id="@Model.GetId("PackagesPanel")" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <div class="controls col-md-10" id="@Model.GetId("Packages")">
                                                    @foreach (var package in Videre.Core.Services.Package.GetNewestAvailablePackages().Where(p => p.Type != "WebReference" && !IsRequiredPackage(p)).OrderBy(p => p.Name))
                                                    {
                                                        <label class="checkbox" title="@package.Description - @package.Source">
                                                            <input type="checkbox" value="@package.Name" checked="checked" @(IsRequiredPackage(package) ? "disabled=\"true\"" : "") />
                                                            @package.Name (v @package.Version)
                                                        </label>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><i class="glyphicon glyphicon-gift"></i> <a data-toggle="collapse" data-parent="#@Model.GetId("Accordian")" href="#@Model.GetId("CorePackagesPanel")">Core Packages</a></h4>
                                    </div>
                                    <div id="@Model.GetId("CorePackagesPanel")" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="form-group">

                                                <div class="controls col-md-10" id="@Model.GetId("CorePackages")">
                                                    @foreach (var package in Videre.Core.Services.Package.GetNewestAvailablePackages().Where(p => p.Type != "WebReference" && IsRequiredPackage(p)).OrderBy(p => p.Name))
                                                    {
                                                        <label class="checkbox" title="@package.Description - @package.Source">
                                                            <input type="checkbox" value="@package.Name" checked="checked" @(IsRequiredPackage(package) ? "disabled=\"true\"" : "") />
                                                            @package.Name (v @package.Version)
                                                        </label>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title"><i class="glyphicon glyphicon-book"></i> <a data-toggle="collapse" data-parent="#@Model.GetId("Accordian")" href="#@Model.GetId("WebReferencesPanel")">Web References</a></h4>
                                    </div>
                                    <div id="@Model.GetId("WebReferencesPanel")" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <div class="controls col-md-10" id="@Model.GetId("WebReferencePackages")">
                                                    @foreach (var package in Videre.Core.Services.Package.GetNewestAvailablePackages().Where(p => p.Type == "WebReference").OrderBy(p => p.Name))
                                                    {
                                                        <label class="checkbox" title="@package.Description - @package.Source">
                                                            <input type="checkbox" value="@package.Name" checked="checked" disabled="disabled" />
                                                            @package.Name (v @package.Version)
                                                        </label>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="clearfix"></div>
        <div class="videre-form-actions">
            @Html.Bootstrap().Button("btnInstall").ButtonStyle(BootstrapUnits.ButtonStyle.Primary).Text("Install.Text", "Install")
        </div>

    </div>
    </div>
    @{Html.RenderLayoutDeferred();}
</body>
</html>
