@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Videre.Core.Models;
@using System.Web.Mvc.Html;
@using Videre.Core.Services;
@model WidgetEditor

@{   
    Html.RegisterControlPresenter(Model, "videre.widgets.editor.common");
}

<div id="@Model.GetId("Widget")">
    <div id="@Model.GetId("Dialog")" data-target="#@Model.GetId("Dialog")" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    @Model.GetText("CommonEditor.Text", "Common Editor")
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        @{Html.RenderPartial("WidgetHeader", Model);}
                        @{Html.RenderPartial("Widgets/Core/CommonEditorMarkup", Model);}
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.Bootstrap().Button("btnOk").ButtonStyle(BootstrapUnits.ButtonStyle.Primary).Text("Ok.Text", "Ok", true)
                    @Html.Bootstrap().Button().Text("Cancel.Text", "Cancel", true).DataAttribute("dismiss", "modal")
                </div>
            </div>
        </div>
    </div>
</div>

