@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Models = Videre.Core.Models;
@using System.Web.Mvc.Html;
@using Videre.Core.Services;
@using Plugin = Videre.Core.Extensions.Bootstrap.Controls.BootstrapDropDownListModel.Plugin;
@model Models.WidgetEditor

@{
    Html.RegisterControlPresenter(Model, "videre.widgets.editor.menu");
}

<div id="@Model.GetId("Widget")">
    <div id="@Model.GetId("Dialog")" data-target="#@Model.GetId("Dialog")" class="modal fade">
        <div class="modal-dialog" style="width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    @Model.GetText("MenuEditor.Text", "Menu Editor")
                </div>
                <div class="modal-body">
                    @{Html.RenderPartial("WidgetHeader", Model);}
                    <ul class="nav nav-tabs videre-tabs">
                        <li class="active"><a href="#@Model.GetId("WidgetTab")" data-toggle="tab">@Model.GetText("Widget.Text", "Widget")</a></li>
                        <li><a href="#@Model.GetId("GeneralTab")" data-toggle="tab">@Model.GetText("General.Text", "General")</a></li>
                        <li><a href="#@Model.GetId("MenuTab")" data-toggle="tab">@Model.GetText("Menu.Text", "Menu")</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="@Model.GetId("WidgetTab")">
                            <div class="row">
                                <div class="form-horizontal col-md-12">
                                    @{Html.RenderPartial("Widgets/Core/CommonEditorMarkup", Model);}
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal tab-pane fade in" id="@Model.GetId("GeneralTab")">
                            <div class="form-group">
                                <label class="control-label col-md-4">@Model.GetText("Name.Text", "Name")</label>
                                <div class="col-md-8">
                                    @Html.Bootstrap().DropDownList("ddlName").DataColumn("Id").Plugin(Plugin.BootstrapSelect)
                                    <button class="btn btn-default" type="button" id="@Model.GetId("btnNewMenu")"><i class="icon-plus"></i>@Model.GetPortalText("New.Text", "New")</button>
                                    <button class="btn btn-default" type="button" id="@Model.GetId("btnDeleteMenu")"><i class="icon-trash"></i>@Model.GetPortalText("Delete.Text", "Delete")</button>
                                </div>
                            </div>
                            @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Text.Text", "Text").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().TextBox().DataColumn("Text"), BootstrapUnits.GridSize.MediumDevice8)
                            @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("TextCss.Text", "Text Css").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().TextBox().DataColumn("TextCss"), BootstrapUnits.GridSize.MediumDevice8)
                        </div>
                        <div class="tab-pane fade" id="@Model.GetId("MenuTab")">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="btn-toolbar" id="@Model.GetId("ActionButtons")" role="toolbar">
                                        <div class="btn-group">
                                            @Html.Bootstrap().Button().DataAttribute("action", "add").Icon("glyphicon glyphicon-plus").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                                            @Html.Bootstrap().Button().DataAttribute("action", "remove").Icon("glyphicon glyphicon-trash").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                                            @Html.Bootstrap().Button().DataAttribute("action", "up").Icon("glyphicon glyphicon-arrow-up").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                                            @Html.Bootstrap().Button().DataAttribute("action", "down").Icon("glyphicon glyphicon-arrow-down").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                                            @Html.Bootstrap().Button().DataAttribute("action", "left").Icon("glyphicon glyphicon-arrow-left").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                                            @Html.Bootstrap().Button().DataAttribute("action", "right").Icon("glyphicon glyphicon-arrow-right").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                                        </div>
                                    </div>
                                    <div style="height: 320px; overflow: auto; padding: 2px; margin-top: 0; margin-bottom: 0;" class="well">
                                        <ul id="@Model.GetId("MenuList")" class="videre-nav-indent videre-nav-condensed nav nav-pills nav-stacked"></ul>
                                    </div>
                                </div>
                                <div class="col-md-8 form-horizontal" id="@Model.GetId("EditCtr")" style="display: none; margin-top: 30px; margin-left:0;">
                                    @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Text.Text", "Text").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().TextBox().DataColumn("Text").Required(), BootstrapUnits.GridSize.MediumDevice9)
                                    @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Icon.Text", "Icon").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().TextBox("txtIcon").DataColumn("Icon").Append(Html.Bootstrap().Span("imgIcon")), BootstrapUnits.GridSize.MediumDevice9)
                                    @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Url.Text", "Url").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().TextBox().DataColumn("Url"), BootstrapUnits.GridSize.MediumDevice9)
                                    @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Roles.Text", "Roles").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().RoleList().DataColumn("Roles").Multiple().Plugin(Plugin.BootstrapSelect), BootstrapUnits.GridSize.MediumDevice9)
                                    @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Authentication.Text", "Authentication").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().AuthorizedList().DataColumn("Authenticated").Plugin(Plugin.BootstrapSelect), BootstrapUnits.GridSize.MediumDevice9)

                                    <div class="videre-form-actions">
                                        @Html.Bootstrap().Button("btnApply").Text("Apply.Text", "Apply")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.Bootstrap().Button("btnOk").ButtonStyle(BootstrapUnits.ButtonStyle.Primary).Text("Ok.Text", "Ok", true)
                    @Html.Bootstrap().Button().Text("Cancel.Text", "Cancel", true).DataAttribute("dismiss", "modal")
                </div>
            </div>
        </div>
    </div>

    <div id="@Model.GetId("NewMenuDialog")" data-target="#@Model.GetId("NewMenuDialog")" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    @Model.GetText("NewMenu.Text", "New Menu")
                </div>
                <div class="modal-body" style="padding: 5px;">
                    <div class="form-horizontal">
                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("MenuName.Text", "Menu Name").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().TextBox("txtNewMenu"), BootstrapUnits.GridSize.MediumDevice8)
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.Bootstrap().Button("btnOkNewMenu").ButtonStyle(BootstrapUnits.ButtonStyle.Primary).Text("Ok.Text", "Ok", true)
                </div>
            </div>
        </div>
    </div>
</div>

