@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Models = Videre.Core.Models;
@using System.Web.Mvc.Html;
@using Videre.Core.Services;
@using Plugin = Videre.Core.Extensions.Bootstrap.Controls.BootstrapDropDownListModel.Plugin;
@using Bootstrap = Videre.Core.Extensions.Bootstrap;
@model Models.WidgetEditor

@{
    Html.RegisterControlPresenter(Model, "videre.widgets.editor.menu");
}

<div id="@Model.GetId("Widget")">
    <div id="@Model.GetId("Dialog")" data-target="#@Model.GetId("Dialog")" class="modal fade">
        <div class="modal-dialog" style="width: 800px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    @Model.GetText("MenuEditor.Text", "Menu Editor")
                </div>
                <div class="modal-body">
                    @{Html.RenderPartial("WidgetHeader", Model);}

                    @(Html.Bootstrap().Tabs(new List<Bootstrap.Controls.BootstrapTab>() 
                    { 
                        new Bootstrap.Controls.BootstrapTab() { Id = @Model.GetId("WidgetTab"), Text = @Model.GetText("Widget.Text", "Widget"), Active = true},
                        new Bootstrap.Controls.BootstrapTab() { Id = @Model.GetId("GeneralTab"), Text = @Model.GetText("General.Text", "General")},
                        new Bootstrap.Controls.BootstrapTab() { Id = @Model.GetId("MenuTab"), Text = @Model.GetText("Menu.Text", "Menu")}
                    }))
                    <div class="tab-content">
                        <div class="tab-pane active" id="@Model.GetId("WidgetTab")">
                            <div class="row">
                                <div class="form-horizontal col-md-12">
                                    @{Html.RenderPartial("Widgets/Core/CommonEditorMarkup", Model);}
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal tab-pane fade in" id="@Model.GetId("GeneralTab")">
                            <div class="form-group">
                                <label class="control-label col-md-3">@Model.GetText("Name.Text", "Name")</label>
                                <div class="col-md-4">
                                    @Html.Bootstrap().DropDownList("ddlName").DataColumn("Id").Css("form-control")
                                </div>
                                <div class="col-md-5">
                                    @Html.Bootstrap().Button("btnNewMenu").Text("New.Text", "New", true).Icon("glyphicon glyphicon-plus")
                                    @Html.Bootstrap().Button("btnCloneMenu").Text("Clone.Text", "Clone", true).Icon("glyphicon glyphicon-transfer")
                                    @Html.Bootstrap().Button("btnDeleteMenu").Text("Delete.Text", "Delete", true).Icon("glyphicon glyphicon-trash")
                                </div>
                            </div>
                            @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Text.Text", "Text").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().TextBox().DataColumn("Text"), BootstrapUnits.GridSize.MediumDevice9)
                            @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("TextCss.Text", "Text Css").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().TextBox().DataColumn("TextCss"), BootstrapUnits.GridSize.MediumDevice9)
                        </div>
                        <div class="tab-pane fade" id="@Model.GetId("MenuTab")">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="btn-toolbar" id="@Model.GetId("ActionButtons")" role="toolbar">
                                        <div class="btn-group">
                                            @Html.Bootstrap().Button().DataAttribute("action", "add").Icon("glyphicon glyphicon-plus").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                                            @Html.Bootstrap().Button().DataAttribute("action", "remove").Icon("glyphicon glyphicon-trash").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                                            @Html.Bootstrap().Button().DataAttribute("action", "up").Icon("glyphicon glyphicon-arrow-up").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                                            @Html.Bootstrap().Button().DataAttribute("action", "down").Icon("glyphicon glyphicon-arrow-down").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                                            @Html.Bootstrap().Button().DataAttribute("action", "left").Icon("glyphicon glyphicon-arrow-left").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                                            @Html.Bootstrap().Button().DataAttribute("action", "right").Icon("glyphicon glyphicon-arrow-right").ButtonSize(BootstrapUnits.ButtonSize.ExtraSmall)
                                        </div>
                                    </div>
                                    <div style="height: 320px; overflow: auto; padding: 2px; margin-top: 0; margin-bottom: 0;" class="well">
                                        <ul id="@Model.GetId("MenuList")" class="videre-nav-indent videre-nav-condensed nav nav-pills nav-stacked"></ul>
                                    </div>
                                </div>
                                <div class="col-md-8 form-horizontal" id="@Model.GetId("EditCtr")" style="display: none; margin-top: 30px; margin-left:0;">
                                    @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Text.Text", "Text").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().TextBox().DataColumn("Text").Required(), BootstrapUnits.GridSize.MediumDevice9)
                                    @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Icon.Text", "Icon").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().TextBox("txtIcon").DataColumn("Icon").Append(Html.Bootstrap().Span("imgIcon")), BootstrapUnits.GridSize.MediumDevice9)
                                    @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Url.Text", "Url").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().TextBox().DataColumn("Url"), BootstrapUnits.GridSize.MediumDevice9)
                                    @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Target.Text", "Target").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().TextBox().DataColumn("Target").ToolTip("TargetTooltip.Text", "blank|_self|_parent|_top|framename"), BootstrapUnits.GridSize.MediumDevice9)
                                    @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Roles.Text", "Roles").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().RoleList().DataColumn("RoleIds").Multiple().Plugin(Plugin.BootstrapSelect), BootstrapUnits.GridSize.MediumDevice9)
                                    @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Claims.Text", "Claims").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().ClaimList().DataColumn("Claims").Multiple().Plugin(Plugin.BootstrapSelect).StyleAttribute("width", "329px"), BootstrapUnits.GridSize.MediumDevice9)
                                    @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Authentication.Text", "Authentication").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().AuthorizedList().DataColumn("Authenticated").Plugin(Plugin.BootstrapSelect), BootstrapUnits.GridSize.MediumDevice9)

                                    <div class="videre-form-actions">
                                        @Html.Bootstrap().Button("btnApply").Text("Apply.Text", "Apply")
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.Bootstrap().Button("btnOk").ButtonStyle(BootstrapUnits.ButtonStyle.Primary).Text("Ok.Text", "Ok", true)
                    @Html.Bootstrap().Button().Text("Cancel.Text", "Cancel", true).DataAttribute("dismiss", "modal")
                </div>
            </div>
        </div>
    </div>
</div>

