@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Videre.Core.Models;
@using System.Web.Mvc.Html;
@using Videre.Core.Services;
@using Plugin = Videre.Core.Extensions.Bootstrap.Controls.BootstrapDropDownListModel.Plugin;
@using Bootstrap = Videre.Core.Extensions.Bootstrap;
@model WidgetEditor

@{
    Html.RegisterControlPresenter(Model, "videre.widgets.editor.texthtml");
}

<div id="@Model.GetId("Widget")">
    <div id="@Model.GetId("Dialog")" data-target="#@Model.GetId("Dialog")" class="modal fade" style="display: none;">
        <div class="modal-dialog" style="width: 800px;">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    @Model.GetText("TextHtmlEditor.Text", "Text / Html Editor")
                </div>
                <div class="modal-body" style="min-height: 450px;">
                    @{Html.RenderPartial("WidgetHeader", Model);}

                    @(Html.Bootstrap().Tabs(new List<Bootstrap.Controls.BootstrapTab>() 
                    { 
                        new Bootstrap.Controls.BootstrapTab() { Id = @Model.GetId("WidgetTab"), Text = @Model.GetText("Widget.Text", "Widget"), Active = true},
                        new Bootstrap.Controls.BootstrapTab() { Id = @Model.GetId("GeneralTab"), Text = @Model.GetText("General.Text", "General")},
                        new Bootstrap.Controls.BootstrapTab() { Id = @Model.GetId("MarkupTab"), Text = @Model.GetText("Markup.Text", "Markup")}
                    }))

                    <div class="tab-content">
                        <div class="form-horizontal tab-pane active" id="@Model.GetId("WidgetTab")">
                            @{Html.RenderPartial("Widgets/Core/CommonEditorMarkup", Model);}
                        </div>
                        <div class="form-horizontal tab-pane" id="@Model.GetId("GeneralTab")">
                            <div class="form-group">
                                <label class="control-label col-md-3">@Model.GetText("ShareName.Text", "Share Name")</label>
                                <div class="col-md-5">
                                    @Html.Bootstrap().DropDownList("ddlLink").Css("form-control")
                                </div>
                                <div class="col-md-4">
                                    <span class="badge badge-info" id="@Model.GetId("lblLinkCount")"></span>
                                    @Html.Bootstrap().Button("btnNewShare").Text("New.Text", "New", true).Icon("glyphicon glyphicon-plus")
                                    @Html.Bootstrap().Button("btnDeleteShare").Text("Delete.Text", "Delete", true).Icon("glyphicon glyphicon-trash")
                                </div>
                            </div>
                        </div>
                        <div class="form-horizontal tab-pane" id="@Model.GetId("MarkupTab")">
                            <div id="@Model.GetId("ContentProperties")">
                                @Html.Bootstrap().TextEditor().DataColumn("EditText").GridSize(BootstrapUnits.GridSize.MediumDevice12).Rows(10)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.Bootstrap().Button("btnOk").ButtonStyle(BootstrapUnits.ButtonStyle.Primary).Text("Ok.Text", "Ok", true)
                    @Html.Bootstrap().Button().Text("Cancel.Text", "Cancel", true).DataAttribute("dismiss", "modal")
                </div>
            </div>
        </div>
    </div>

</div>
