@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Videre.Core.Models;
@using System.Web.Mvc.Html;
@using Videre.Core.Services;
@model WidgetEditor

@{
    Html.RegisterControlPresenter(Model, "videre.widgets.editor.texthtml");
}

<div id="@Model.GetId("Widget")">
    <div id="@Model.GetId("Dialog")" data-target="#@Model.GetId("Dialog")" class="modal fade" style="margin-left: -450px; width: 900px; display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            @Model.GetText("TextHtmlEditor.Text", "Text / Html Editor")
        </div>
        <div class="modal-body" style="min-height: 450px;">
            @{Html.RenderPartial("WidgetHeader", Model);}
            <ul class="nav nav-tabs">
                <li class="active"><a href="#@Model.GetId("WidgetTab")" data-toggle="tab">@Model.GetText("Widget.Text", "Widget")</a></li>
                <li><a href="#@Model.GetId("GeneralTab")" data-toggle="tab">@Model.GetText("General.Text", "General")</a></li>
                <li><a href="#@Model.GetId("MarkupTab")" data-toggle="tab">@Model.GetText("Markup.Text", "Markup")</a></li>
            </ul>
            <div class="tab-content">
                <div class="form-horizontal tab-pane active" id="@Model.GetId("WidgetTab")">
                    @{Html.RenderPartial("Widgets/Core/CommonEditorMarkup", Model);}
                </div>
                <div class="form-horizontal tab-pane" id="@Model.GetId("GeneralTab")">
                    <div class="control-group">
                        <label class="control-label">@Model.GetText("ShareName.Text", "Share Name")</label>
                        <div class="controls">
                            <select id="@Model.GetId("ddlLink")"></select>
                            <span class="badge badge-info" id="@Model.GetId("lblLinkCount")"></span>
                            <button class="btn" type="button" id="@Model.GetId("btnNewShare")"><i class="icon-plus"></i> @Model.GetPortalText("New.Text", "New")</button>
                            <button class="btn" type="button" id="@Model.GetId("btnDeleteShare")"><i class="icon-trash"></i> @Model.GetPortalText("Delete.Text", "Delete")</button>
                        </div>
                    </div>
                </div>
                <div class="form-horizontal tab-pane" id="@Model.GetId("MarkupTab")">
                    <div id="@Model.GetId("ContentProperties")">
                        @Html.TextEditorControl(Model, "txtHtml", "Text")
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary" id="@Model.GetId("btnOk")">@Model.GetPortalText("Ok.Text", "Ok")</a>
            <a class="btn" data-dismiss="modal">@Model.GetPortalText("Cancel.Text", "Cancel")</a>
        </div>
    </div>

    <div id="@Model.GetId("NewShareDialog")" data-target="#@Model.GetId("NewShareDialog")" class="modal fade" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            @Model.GetText("NewShare.Text", "New Share")
        </div>
        <div class="modal-body" style="padding: 5px;  ">
            <div class="form-horizontal">
                @Html.InputControlGroup(Model, "txtNewShare", "ShareName.Text", "Share Name")
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary" id="@Model.GetId("btnOkNewShare")">@Model.GetPortalText("Ok.Text", "Ok")</a>
        </div>
    </div>
</div>

