@using Videre.Core.Extensions;
@using CoreModels = Videre.Core.Models;
@using Models = Videre.Blog.Widgets.Models;
@using Videre.Core.Services;
@model CoreModels.Widget
@{    
    var blog = Model.GetContent<Models.Blog>();
    
    if (blog != null)
    {
        var blogUrl = Videre.Blog.Widgets.Services.Blog.GetBlogUrl(blog.Id, "");
        var groupedEntries = blog.Entries.Where(e => e.IsPublished)
            .GroupBy(e => e.PostDate.Value.ToString("MMMM yyyy"), (key, items) => new { text = key, orderBy = items.First().PostDate.Value.ToString("yyyy-MM-dd"), items = items });

       
    <div id="@Model.GetId("Widget")" class="@Model.Css" style="@Model.Style">
        @{Html.RenderPartial("WidgetHeader", Model);}
        <h4>@Model.GetText("Archive.Text", "Archive")</h4>

        <ul class="list-unstyled">
            @foreach (var g in groupedEntries.OrderByDescending(g => g.orderBy))
            {
                <li>
                    <a href="@blogUrl?date=@g.text">
                        @g.text - (@g.items.Count())
                    </a>
                </li>   
            }
        </ul>


    </div>

    }
}
