@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Models = Videre.Core.Models;
@using System.Web.Mvc.Html;
@using Videre.Core.Services;
@using Bootstrap = Videre.Core.Extensions.Bootstrap;
@model Models.WidgetEditor

@{
    Html.RegisterControlPresenter(Model, "videre.widgets.editor.blog");

}

<div id="@Model.GetId("Widget")">
    <div id="@Model.GetId("Dialog")" data-target="#@Model.GetId("Dialog")" class="modal fade">
        <div class="modal-dialog" style="width: 700px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    @Model.GetText("BlogEditor.Text", "Blog Editor")
                </div>
                <div class="modal-body">
                    @{Html.RenderPartial("WidgetHeader", Model);}
                    
                    @(Html.Bootstrap().Tabs(new List<Bootstrap.Controls.BootstrapTab>() 
                    { 
                        new Bootstrap.Controls.BootstrapTab() { Id = @Model.GetId("WidgetTab"), Text = @Model.GetText("Widget.Text", "Widget"), Active = true, Icon = "glyphicon glyphicon-cog" },
                        new Bootstrap.Controls.BootstrapTab() { Id = @Model.GetId("GeneralTab"), Text = @Model.GetText("General.Text", "General"), Icon = "glyphicon glyphicon-tasks" }
                    }))
                   
                    <div class="tab-content">
                        <div class="form-horizontal tab-pane active" id="@Model.GetId("WidgetTab")">
                            @{Html.RenderPartial("Widgets/Core/CommonEditorMarkup", Model);}
                        </div>
                        <div class="form-horizontal tab-pane" id="@Model.GetId("GeneralTab")">
                            <div class="form-group">
                                <label class="control-label col-md-3">@Model.GetText("Name.Text", "Name")</label>
                                <div class="col-md-5">
                                    @Html.Bootstrap().DropDownList("ddlName").Css("form-control")
                                </div>
                                <div class="col-md-4">
                                    @Html.Bootstrap().Button("btnNewBlog").Text("New.Text", "New", true).Icon("glyphicon glyphicon-plus")
                                    @Html.Bootstrap().Button("btnDeleteBlog").Text("Delete.Text", "Delete", true).Icon("glyphicon glyphicon-trash")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.Bootstrap().Button("btnOk").ButtonStyle(BootstrapUnits.ButtonStyle.Primary).Text("Ok.Text", "Ok", true)
                    @Html.Bootstrap().Button().Text("Cancel.Text", "Cancel", true).DataAttribute("dismiss", "modal")
                </div>
            </div>
        </div>
    </div>

    <div id="@Model.GetId("NewBlogDialog")" data-target="#@Model.GetId("NewBlogDialog")" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    @Model.GetText("NewBlog.Text", "New Blog")
                </div>
                <div class="modal-body" style="padding: 5px;">
                    <div class="form-horizontal">
                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("BlogName.Text", "Blog Name").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().TextBox().DataColumn("Name").Required(), BootstrapUnits.GridSize.MediumDevice9)
                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("BlogDescription.Text", "Description").GridSize(BootstrapUnits.GridSize.MediumDevice3), Html.Bootstrap().TextBox().DataColumn("Description").Required(), BootstrapUnits.GridSize.MediumDevice9)
                    </div>
                </div>
                <div class="modal-footer">
                    @Html.Bootstrap().Button("btnOkNewBlog").ButtonStyle(BootstrapUnits.ButtonStyle.Primary).Text("Ok.Text", "Ok", true)
                </div>
            </div>
        </div>
    </div>

</div>

