@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Models = Videre.Core.Models;
@using System.Web.Mvc.Html;
@using Videre.Core.Services;
@model Models.Widget

@{
    Html.RegisterWebReferenceGroup("timepicker");   //todo: perhaps this is auto registered when datatype specified
    
    var entry = ViewBag.entry;
}

<div class="btn-group pull-right">
    <button class="btn dropdown-toggle" data-toggle="dropdown">
    <i class="icon-cog"></i>
    <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" id="@Model.GetId("AdminMenu")">
    <li data-action="new"><a><i class="icon-plus"></i> @Model.GetText("New.Text", "New")</a></li>
    @if (entry != null) 
    {
        <li data-action="edit"><a><i class="icon-pencil"></i> @Model.GetText("Edit.Text", "Edit")</a></li>
        <li data-action="delete"><a><i class="icon-trash"></i> @Model.GetText("Delete.Text", "Delete")</a></li>
    }
    </ul>
</div>

<div id="@Model.GetId("Dialog")" data-target="#@Model.GetId("Dialog")" class="modal fade" style="width: 700px; max-height: 600px; display:none;">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        @Model.GetText("BlogEditor.Text", "Blog Editor")
    </div>
    <div class="modal-body">
        @{Html.RenderPartial("WidgetHeader", Model);}
        <ul class="nav nav-tabs">
            <li class="active"><a href="#@Model.GetId("GeneralTab")" data-toggle="tab">@Model.GetText("General.Text", "General")</a></li>
            <li><a href="#@Model.GetId("MarkupTab")" data-toggle="tab">@Model.GetText("Markup.Text", "Markup")</a></li>
        </ul>
        <div class="tab-content">
            <div class="form-horizontal tab-pane active" id="@Model.GetId("GeneralTab")">
                @Html.InputControlGroup(Model, "txtTitle", "Title.Text", "Title", "Title", "input-xlarge")
                @Html.InputControlGroup(Model, "txtUrl", "Url.Text", "Url", "Url", "input-xlarge")
                @Html.InputFileBrowserControlGroup(Model, "TitleImageUrl", "TitleImageUrl.Text", "Title Image Url", "TitleImageUrl")
                @Html.TextAreaControlGroup(Model, "txtSummary", "Summary.Text", "Summary", "Summary", inputCss: "input-xlarge", rows: 3)
                @Html.TextAreaControlGroup(Model, "txtTags", "Tags.Text", "Tags", "Tags", "list", "input-xlarge", 3)
                @Html.InputControlGroup(Model, "txtPostDate", "PostDate.Text", "Post Date", "PostDate", "input-medium", dataType: "datetime")
            </div>
            <div class="form-horizontal tab-pane" id="@Model.GetId("MarkupTab")">
                <div id="@Model.GetId("ContentProperties")">
                    @Html.TextEditorControl(Model, "txtBody", "Body")
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-primary" id="@Model.GetId("btnSave")">@Model.GetPortalText("Save.Text", "Save")</a>
        <a class="btn" data-dismiss="modal">@Model.GetPortalText("Cancel.Text", "Cancel")</a>
    </div>
</div>
