@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Videre.Core.Models;
@using System.Web.Mvc.Html;
@using CoreServices = Videre.Core.Services;

@model Widget

@{
    var props = new Dictionary<String, Object>();
    if (!string.IsNullOrEmpty(Request.QueryString["ReturnUrl"]))
    {
        props["returnUrl"] = Request.QueryString["ReturnUrl"];
    }
    else
    {
        props["returnUrl"] = VirtualPathUtility.ToAbsolute("~/");
    }

    Html.RegisterControlPresenter(Model, "videre.widgets.account.logon", props);
    var providers = CoreServices.Authentication.GetAuthenticationProviders().Where(p => p.Enabled).ToList();
}

<div id="@Model.GetId("Widget")">
    @{Html.RenderPartial("WidgetHeader", Model);}
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default videre-has-form-actions">
                @if (Model.ShowHeader)
                {<div class="panel-heading">@Model.GetText("Login.Text", "Log On")</div>}
                <div class="panel-body">
                    <div class="form-horizontal videre-form">
                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("UserName.Text", "User Name").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().TextBox("txtName").Required().DisableAutoComplete(), BootstrapUnits.GridSize.MediumDevice8)
                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Password.Text", "Password").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().Password("txtPassword").Required().DisableAutoComplete(), BootstrapUnits.GridSize.MediumDevice8)
                    </div>
                    <div class="videre-form-actions">
                        @foreach (var provider in providers)
                        {
                            <a class="btn btn-default" href="@CoreServices.Portal.ResolveUrl(string.Format("~/Core/Account/ExternalLogin?provider={0}&returnUrl={1}", provider.Name, props["returnUrl"]))">@provider.LoginButtonText</a>
                        }
                        <a class="btn btn-primary" id="@Model.GetId("btnLogon")">@Model.GetText("Logon.Text", "Log On")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

