@using System.Collections.Generic;
@using Videre.Core.Extensions;
@using Videre.Core.Models;
@using System.Web.Mvc.Html;
@using Videre.Core.Services;
@model Videre.Core.Models.Widget

@{
    
    Html.RegisterControlPresenter(Model, "videre.widgets.account.userprofile", new Dictionary<string, object>() { { "data", Account.GetUserProfile() } });

}

<div id="@Model.GetId("Widget")">
    @{Html.RenderPartial("WidgetHeader", Model);}
    @{Html.RenderPartial("WidgetSectionHeader", Model, new ViewDataDictionary(new { SectionHeader = Model.GetText("WidgetTitle.Text", "User Profile") }));}

    <div class="row">
        <div class="col-md-6">
            <div class="form-horizontal">
                <div id="@Model.GetId("StandardElementsCtr")">
                @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Name.Text", "Name").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().TextBox().DataColumn("Name").Required(), BootstrapUnits.GridSize.MediumDevice8)
                @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Email.Text", "Email").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().Email().DataColumn("Email").Required(), BootstrapUnits.GridSize.MediumDevice8)
                @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Locale.Text", "Locale").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().TextBox().DataColumn("Locale"), BootstrapUnits.GridSize.MediumDevice3)
                @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("Password.Text", "Password").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().Password("txtPassword").DataColumn("Password").DisableAutoComplete(), BootstrapUnits.GridSize.MediumDevice8)
                @Html.Bootstrap().FormGroup(Html.Bootstrap().Label("ConfirmPassword.Text", "Confirm Password").GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().Password("txtPassword2").DataColumn("Password").MustMatch("txtPassword").DisableAutoComplete(), BootstrapUnits.GridSize.MediumDevice8)
                </div>
                @if (Account.CustomUserElements.Where(e => e.UserCanEdit).Count() > 0) 
                {   
                <div id="@Model.GetId("CustomElementsCtr")">
                @foreach (var element in Account.CustomUserElements.Where(e => e.UserCanEdit))
                {
                    if (element.Values != null)
                    {
                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label(element.SafeName + ".Text", element.Name).GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().DropDownList().Options(element.Values).DataColumn(element.Name).Required(element.Required), BootstrapUnits.GridSize.MediumDevice8)
                    }
                    else
                    {
                        @Html.Bootstrap().FormGroup(Html.Bootstrap().Label(element.SafeName + ".Text", element.Name).GridSize(BootstrapUnits.GridSize.MediumDevice4), Html.Bootstrap().TextBox().DataColumn(element.Name).Required(element.Required), BootstrapUnits.GridSize.MediumDevice8)
                    }
                }
                </div>
                }
            </div>
            <div class="videre-form-actions">
                @Html.Bootstrap().Button("btnSave").ButtonStyle(BootstrapUnits.ButtonStyle.Primary).Text("Save.Text", "Save", true)
            </div>
        </div>
    </div>
</div>

